* {
        margin: 0;
        padding: 0;
        }   
    
html {
        font-size: 100%;
        }   

body {
        /* font: 12px Verdana, Arial, Helvetica, sans-serif; */
        font: 75%/1.5 Verdana, Arial, Helvetica, sans-serif;
        }   

#wrapper {
        font-size: 1em;
        line-height: 1.5em;
        }

/* rest */
#wrapper {
    width: 400px;
    background: url(b2.gif);
    margin: 3em auto;
}

body {
	color: #727272;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

.clear {
	clear: both;
}

input, textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

textarea, .sm {
	border: 1px solid #c3c3c3;
	background: #f4f4f4;
	padding: .6em;
}

.sm {
	width: 260px;
}

.small { 
    color: #7c7c7c; 
    font-style: italic; 
    float: left;    
    margin-bottom: 1.2em; 
}

.space { 
    margin-bottom: 1.2em; 
}

.date, .head_title { 
    margin-right: .5em; 
    float: left; 
    display: inline; 
}


.blood_sugar {
    /*color: #ff0066;*/
    color: #FF4488;
}

.time {
    /*color: #00adef;*/
}

.day {
    font-size: 1.5em;
    line-height: 1em;

    color: #555;
    border-bottom: 1px solid #eee;

    margin-top: 2em;
}

.notes {
    color: #aaa;
    /*background-color: #f7f7f7;*/
}


.head {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1.5em;
    margin-bottom: .5em;
}


#nav {
    font-size: 1.5em;
    line-height: 1em;

    float: right;

}

#nav a {
    text-decoration: none;
}

a:link {
    color: #00adef;
}

a:visited { 
    color: #00adef;
}

a:hover { 
    color: #FF4488;
}

.head_title { 
    color: #00adef;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: .5em;
}

.date {
    color: #555;
    font-size: 1.5em;
    line-height: 1em;

}

.submit {
    padding: .25em;
    color: #222;
    margin-left: .75em;
    font-size: 1.5em;
    line-height: 1em;

}

/* vedit - usual column (right) */
.vedit td {
    padding: 1em;
}
