<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>blood sugar log</title>
<style type="text/css" media="screen">
/* <![CDATA[ */
@import url(static/style2.css?version=20101220);
/* ]]> */
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/jquery.timePicker.js?version=20101220"></script>
<script type="text/javascript" src="static/script.js?version=20101220"></script>
</head>
<body>
  <div id="wrapper">
    
  <div id="header">
    <h3 id="title">sugar log &raquo; <a href="/new">new entry</a></h3>
    {% if g.user %}
    <h3 id="nav">hello <strong>{{ g.user.username }}</strong> &bull; <a href="/logout">logout</a></h3>
    {% else %}
    <h3 id="nav"><!--<a href="/signup">sign up</a> or <a href="/login">log in</a>--></h3>
    {% endif %}
    <br />
  </div>

  <!--
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    -->

  <div id="entries">
  {% for day in days %}
    {% for entry in entries[day] %}
    <dl>
        <dt>
            <p class="month">{{ entry.month }}</p>
            <p class="day">{{ entry.day }}</p>
            <p class="time">{{ entry.time }}</p>
        </dt>
        <dd>
            <h2>{{ entry.blood_sugar }}</h2>
            <p>{{ entry.notes }}</p>
            {% for comment in commentsHash[entry.entry_id] %}
            <p class="author"><strong>{{ comment.author}}</strong> says:</p>
            <p class="comment">{{ comment.comment }}</p>
            {% endfor %}
<a id="reply-link-{{ entry.entry_id }}" class="reply-link" href="reply">reply</a>
<div class="comment-form">
<form id="reply-{{ entry.entry_id }}" class="reply-form" action="/comments" method="post">
    <input type="hidden" name="entry_id" value="{{ entry.entry_id }}" />
    {% if g.user %}
    <input class="field" type="hidden" name="author" value="{{ g.user.username }}"></input>
    {% else %}
    <label for="author">name</label>
    <input class="field" type="text" name="author" value="{{ entry.next_author }}"></input>
    {% endif %}
    <label for="comment">comment</label>
    <textarea class="field" style="width: 20em;"name="comment" rows="6"></textarea>
    <input class="submit" type="submit" value="submit" />
</form>
</div>
        </dd>
    </dl>
    <br />
    {% endfor %}
  {% endfor %}
  </div>

  </div>
</body>
</html>
