<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>blood sugar log</title>
<style type="text/css" media="screen">
/* <![CDATA[ */
@import url(static/style2.css);
/* ]]> */
</style>
</head>
<body>
  <div id="wrapper">
  <p id="nav"><a href="/new">new entry</a></p>

  <div id="entries">
  {% for day in days %}
    {% for entry in entries[day] %}
    <dl>
        <dt><p class="time">{{ entry.time }}</p><p class="day">{{ day }}</p></dt>
        <dd>
            <h1>{{ entry.blood_sugar }}</h1>
            <p>{{ entry.notes }}</p>
            {% for comment in commentsHash[entry.entry_id] %}
            <p>{{ comment.comment }}</p>
            {% endfor %}
        </dd>
    </dl>
    <br />
    {% endfor %}
  {% endfor %}
  </div>

  </div>
</body>
</html>
